body {
    font-family: Calibri;
    font-weight: lighter;
    font-size: 15px;
}

h1, h2, h3, h4 {
	font-family: Calibri;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 17px;
}

a {
    outline: none;
    cursor: pointer;
}

p {
    margin:1px;
    padding:0;
}

ul.a {
  list-style-type: circle;
}

ul.edu {
  list-style: none;
}

ul.edu li:before {
    list-style: none;
    content: '';
    display: inline-block;
    height: 15px;
    width: 30px;
    background-image: url('eduSmall3.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -30px;
}

footer {
    font-family: Calibri;
    font-size: 12px;
    padding: 200px 0 50px 0;
    text-align: center;
}

.navbar {
    text-align: center;
    font-family: Ink Free;
    font-weight: 600;
    margin-bottom: 0;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.header-img {
  width: 100%;
  height: 90px;
  background: url("Imperial4.jpg");
  background-size: cover;
}

#name {
    padding-bottom: 20px;
}

.page-header {
    border-bottom: 0px;
}

img {
    vertical-align: top;
    padding: 10px
}

.profile {
    display: inline-block;
    margin: 0 20px 10px 20px;
}

.background {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}

.paperTitle {
    font-family: Calibri;
    font-weight: 500;
    font-size: 16px;
}

.section {
    margin-bottom: 35px;
}

/*@media only screen and (max-width: 1500px) {
  .background {
          width: 50%;
      }
  }
@media only screen and (max-width: 768px) {
  .container {
          width: 70%;
      }
  }*/
